PORT=3030
MONGOOSE_URL="mongodb://localhost/chat_db_v2"
# 百炼大模型相关环境变量
OPENAI_QWEN_API_KEY="your openai api key"
OPENAI_QWEN_BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"
OPENAI_QWEN_DEFAULT_MODAL="qwen3.5-35b-a3b"
# 豆包大模型相关环境变量
OPENAI_DOUBAO_API_KEY="your openai api key"
OPENAI_DOUBAO_BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"
OPENAI_DOUBAO_DEFAULT_MODAL="doubao-seed-1-8-251228"

LANGSMITH_TRACING="true"
LANGSMITH_API_KEY="your langsmith api key"
LANGSMITH_ENDPOINT="your langsmith endpoint"
LANGSMITH_PROJECT="chat-room-langchain-demo"